
.center {
    text-align: center
}

#navbar_custom {
    border: solid 3px rgba(255, 255, 255, 1);
    background-color: rgba(0, 0, 0, 1);
    padding-top: 10px;
    background-image: url("images/bg1.png");

}

#navbar_custom p {
    color: white;
    font-size: 20px;
    font-weight: 200;

}

#navbar_custom .responsive-nav {
    display: none;
}

/*navbar responsive*/
.navbar-toggler i {
    color: white;
}

.p-4 li {
    list-style: none
}

.p-4 p {
    margin-bottom: 4px;
}

@media screen and (max-width: 962px) {
    #navbar_custom .full-nav {
        display: none;
    }

    #navbar_custom .responsive-nav {
        display: block;
    }

}

/*************** SECTION ACCUEIL **************/
#section1 {
    background-image: url("images/bg1.png");
    background-position: center;
    padding-top: 250px;
    padding-bottom: 300px;
}

@media screen and (max-width: 2400px) {

    #section1h1h3 {
        background-color: rgba(211, 211, 211, 0.8);
        border-radius: 100px;
        padding: 30px;

    }

    #section1 h1 {
        font-size: 52px;
        color: rgb(234, 133, 57)
    }

    #section1 h3 {
        color: white;
        text-align: center;
        font-size: 32px;
    }

    #section1button {
        border-radius: 100px;
        background-color: rgb(94, 94, 94);
        color: rgb(234, 133, 57);
margin-top: 20px;

    }
}

@media screen and (max-width: 500px) {

    #section1h1h3 {
        background-color: rgba(211, 211, 211, 0.8);
        border-radius: 100px;
        padding: 15px;

    }

    #section1 h1 {
        font-size: 35px;
        color: rgb(234, 133, 57)
    }

    #section1 h3 {
        color: white;
        text-align: center;
        font-size: 24px;
    }

    #buttondiv {
        margin-right: 275px !important;
    }

    #section1button {
        border-radius: 100px;
        background-color: rgb(94, 94, 94);
        color: rgb(234, 133, 57);
        margin-top: 20px;

    }
}


/*Qui sommes nous*/
#about {
    background-color: black;
    padding-top: 100px;
    padding-bottom: 100px;
    background-image: url("images/s2.png");
}

#about_texte {
    background-color: #D6D5D5;
    background: rgba(146, 149, 155, 0.5) /* 70% opaque red */;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
}

#about_texte p {
    color: white;
}



#about_texte h3 {
    color: #ee883c;
}

#container_icone {
    margin-top: 30px;
    padding-top: 50px;
    width: 100%;

}

#garantie {
    color: white;
    margin-top: 30px;
    font-size: 40px;
}

#container_icone p {
    color: white;
}


#container_icone img {
    padding-bottom: 20px;
    height: 133px;
}

/*Les partenaires*/

#partenaires {
    background-color: white;
}

#partenaires h2 {
    color: #ee883c;
    letter-spacing: 2px;
    margin-top: 60px;

}

.rond-gris {
    border-radius: 50%;
    height: 450px;
    background-color: #D6D5D5;
    border: solid 1px #D6D5D5;
    margin-bottom: 20px;
}

.rond-gris img {
    height: 150px;
    width: auto;
    margin-top: 100px;
    margin-bottom: 45px;
}

.rond-gris h3 {
    color: #ee883c;
}

.description_partenaire {
    text-align: justify;
    color: #D6D5D5;
    font-size: 20px;
}

@media (min-width: 771px) and (max-width: 995px) {
    .rond-gris {
        height: 250px;

    }

    .rond-gris img {
        height: 100px;
        width: auto;
        margin-top: 30px;
        margin-bottom: 45px;
    }

    .rond-gris h3 {
        color: #ee883c;
        font-size: 20px;
    }

}

@media (min-width: 0px) and (max-width: 490px) {
    .rond-gris {
        height: 350px;

    }

    .rond-gris img {
        height: 120px;
        width: auto;
        margin-top: 70px;
        margin-bottom: 45px;
    }

    .rond-gris h3 {
        color: #ee883c;
        font-size: 20px;
    }

}

@media screen and (max-width: 770px){
    #partenaires {
        padding-bottom: 150px;
    }

}

/*véhicule btn*/

#vehicules {
    padding-top: 200px;
    padding-bottom: 150px;
    background-image: url("images/s4.png");
    background-size: cover;
}

#vehicules button {
    background-color: #4c4a4a;
    color: #ee883c;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 50px;
    padding-right: 50px;
    border: solid 1px #4c4a4a;
    border-radius: 50px;
    font-size: 30px;
    margin-bottom: 50px;

}

.occas {
    color: #ee883c !important;
}

.propre {
    color: #3CC5EE !important;
    padding-left: 30px;
}

#vehicules button.propre {
    padding-left: 50px;
}

#vehicules img {

    height: 60px;
    width: auto;
}

/*slider*/
#cars {
    padding-top: 50px;
    padding-bottom: 100px;

}

#cars h2 {
    color: #ee883c;
    letter-spacing: 2px;
    margin-top: 60px;
    margin-bottom: 100px;

}

#cars h3 {
    color: #ee883c;
    letter-spacing: 2px;
    margin-top: 60px;
    margin-bottom: 100px;

}

.info p {
    margin-top: 20px;
    font-size: 26px;
    color: #D6D5D5;
}

.arrow_slider {
    height: 60px;
    width: auto;
}

#btn_cars button {
    background-color: #4c4a4a;
    color: #ee883c;
    border: solid 1px #4c4a4a;
    border-radius: 25px;
    font-size: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 10px;
}

#btn_cars img {
    height: 30px;
    width: auto;
}

.img_voiture img {
    height: 300px !important;
    width: auto !important;
}

.vehicules button {
    background-color: #4c4a4a;
}

/*************** VEHICULES PROPRES *****************/
#vpropresec {
    padding-top: 150px;
    padding-bottom: 150px;
    background-image: url("images/s5.png");
    background-size: cover;
    background-repeat: no-repeat;

}

#vproprediv {
    background-color: lightgray;
    padding-top: 20px;
    padding-bottom: 40px;
    padding-left: 40px;
    padding-right: 40px;
}

#vproprediv h2 {
    text-align: center;
    font-size: 40px;
    color: rgb(60, 197, 238);
    padding-bottom: 30px;
}

#vproprediv p {
    color: white;
    font-size: 22px;
}

#vpropresec button {
    color: rgb(60, 197, 238);
    background-color: gray;
    border-radius: 100px;
    padding: 12px;
    margin-bottom: 50px;

}
@media screen and (max-width: 980px) {
    #vpropresec button {
        border-radius: 50px;

    }

    #vproprediv {
        background-color: lightgray;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 20px;
        padding-right: 20px;
    }

    #vproprediv h2 {
        text-align: center;
        font-size: 24px;
        color: rgb(60, 197, 238);
        padding-bottom: 20px;
    }

    #vproprediv p {
        color: white;
        font-size: 17px;
        text-align: center;
    }



}





/*************** FORM SECTION *****************/
#contact {
    padding-top: 100px;
    padding-bottom: 100px;
}

#contact h1 {
    text-align: center;
    color: rgb(234, 133, 57);
}




input[type="submit"] {

    background-color: rgb(234, 133, 57);
    border-radius: 50%;
    color: white;
    padding: 15px;
    font-size: 22px;
    text-align: center;
    text-shadow: none;

}



@media only screen and (min-width: 992px) and (max-width: 1200px) {

    #form1 {
        padding-left: 150px;
    }

}

/***************** FOOTER ******************/
footer {
    background-color: lightgray;
    padding-top: 40px;
    padding-bottom: 40px;
}

footer a {
    color: rgb(234, 133, 57);
    font-size: 20px;

}

footer p {
    color: rgb(234, 133, 57);
    font-size: 25px;
    text-align: center;

}

#leftrowfoot {
    padding-bottom: 30px;
}

@media only screen and (min-width: 320px) and (max-width: 769px) {

    footer a {
        font-size: 15px;

    }

    footer p {
        font-size: 18px;
    }

    #leftrowfoot {
        padding-left: 120px;
    }
}

@media only screen and (max-width: 320px) {
    footer a {
        font-size: 15px;

    }

    footer p {
        font-size: 18px;
    }

}
