.center{text-align: center}

/*navbar*/

#navbar_custom{
border: solid 4px rgba(255, 255, 255,1);
    background-color: rgba(0, 0, 0,1);
    padding-top: 10px;
    margin-top: 20px;
}

#navbar_custom p {
    color: white;
    font-size: 20px;
    font-weight: 200;

}

#navbar_custom .responsive-nav{
    display: none;
}
/*navbar responsive*/
.navbar-toggler i{
    color: white;
}
.p-4 li{
    list-style: none
}

.p-4 p{
    margin-bottom: 4px;
}
@media  screen and (max-width: 962px) {
    #navbar_custom .full-nav{
        display: none;
    }
    #navbar_custom .responsive-nav{
        display: block;
    }
    
}
/*Qui sommes nous*/
#about{
    background-color: black;
    padding-top: 100px;
    padding-bottom: 100px;
}
#about_texte{
    background-color: #D6D5D5;
    background: rgba(146, 149, 155,0.5)    /* 70% opaque red */;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
}
#about_texte p {
    color: white;
}

#about_texte h3 {
    color: #ee883c;
}

#container_icone{
    margin-top: 30px;
    padding-top: 50px;
    width: 100%;

}
#garantie{
    color: white;
    margin-top: 30px;
    font-size: 40px;
}

#container_icone p{
    color: white;
}

#container_icone img{
padding-bottom: 20px;
    height: 133px;
}


/*Les partenaires*/

#partenaires{
    background-color: white;
}

#partenaires h2{
    color: #ee883c;
    letter-spacing: 2px;
    margin-top: 60px;

}

.rond-gris{
    border-radius: 50%;
    height: 450px;
    background-color:  #D6D5D5;
    border: solid 1px #D6D5D5;
    margin-bottom: 20px;
}

.rond-gris img{
    height: 150px;
    width: auto;
    margin-top:100px;
margin-bottom: 45px;
}

.rond-gris h3{
    color: #ee883c;
}

.description_partenaire{
    text-align: justify;
    color:  #D6D5D5;
    font-size: 20px;
}

@media (min-width: 771px) and (max-width: 995px){
    .rond-gris{
        height: 250px;

    }

    .rond-gris img{
        height: 100px;
        width: auto;
        margin-top:30px;
        margin-bottom: 45px;
    }

    .rond-gris h3{
        color: #ee883c;
        font-size: 20px;
    }

}

@media (min-width: 0px) and (max-width: 490px){
    .rond-gris{
        height: 350px;

    }

    .rond-gris img{
        height: 120px;
        width: auto;
        margin-top:70px;
        margin-bottom: 45px;
    }

    .rond-gris h3{
        color: #ee883c;
        font-size: 20px;
    }

}


/*véhicule btn*/

.vehicules{
background-color: red;
    padding-top:150px;
    padding-bottom:100px;

}


.vehicules button{
    background-color: #4c4a4a  ;
    color: #ee883c;
    border: solid 1px #4c4a4a;
    border-radius: 50px;
    font-size: 40px;
    padding-top:25px;
    padding-bottom:25px;
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 50px;

}

.vehicules img{

height: 60px;
    width: auto;
}

.rond_vehicule{

}





/*slider*/
#cars{
    padding-top:50px ;
    padding-bottom:100px ;

}

#cars h2{
    color: #ee883c;
    letter-spacing: 2px;
    margin-top: 60px;
    margin-bottom: 100px;

}
.info p{
    margin-top: 20px;
    font-size: 26px;
    color:#D6D5D5 ;
}


.arrow_slider{
    height: 60px;
    width: auto;
}

#btn_cars button{
    background-color: #4c4a4a  ;
    color: #ee883c;
    border: solid 1px #4c4a4a;
    border-radius: 25px;
    font-size: 15px;
    padding-top:10px;
    padding-bottom:10px;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 10px;
}

#btn_cars img{
    height: 30px;
    width: auto;
}